.footer {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__about {
    cursor: pointer;
    text-decoration: none;
    margin: 0 20px;
    &:hover {
      color: #fff;
      background: #4bb790;
    }
  }

  &__shop {
    cursor: pointer;
    &:hover {
      color: #fff;
      background: #4bb790;
    }
  }
}