.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__liked-block {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
  }

  &__total-count {
    color: #585252;
  }

  &__search-panel {
    display: flex;
    align-items: center;
    margin-right: 20px;

    .heart-btn {
      margin-left: 5px;
      cursor: pointer;
    }

    .search-btn {
      cursor: pointer;
      margin-right: 10px;
    }
  }
}
