.profile {
  justify-content: center;
  align-items: center;
  left: -10%;

  .info {
    margin-left: 20px;
    max-width: 310px;
    width: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;

    &__title {
      text-decoration: none;
      font-weight: 400;
    }

    &__text {
      display: flex;
      flex-direction: column;
    }

    &__description {
      color: #605f5f;
      font-size: 12px;
    }
  }

  margin: 10px 0 0 120px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 0.8em;

  &__img {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 350px;
    max-height: 450px;
    margin: 0;
    img {
      height: 90%;
      width: 90%;
      object-fit: cover;
    }

    &--zoom-lens {
      height: 80%;
      width: 80%;
    }
  }
}

.add-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 83px;

  &__prices {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &--rus {
      font-size: 16px;
    }
    &--us {
      color: #585252;
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    &--back {
      background-color: #000;
      color: #fff;
      width: 45px;
      height: 23px;
      border-radius: 1px;
      border: none;
      cursor: pointer;
      &:active {
        background-color: rgb(44, 43, 43);
      }
    }
    &--add {
      border: none;
      border-radius: 1px;
      margin-left: 7px;
      height: 23px;
      width: 108px;
      background: #4bb790;
      color: #fff;
      cursor: pointer;
      &:active {
        background-color: #5bb997;
      }
    }
  }
}


.page__profile {
  position: absolute;
  left: 50px;
  width: 800px;
}

.page__profile-enter-active {
  animation: fade-in 1s forwards;
}

.page__profile-exit-active {
  animation: fade-out 1s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
