@import "./components/all";
@import "./pages/all";
@import "./app-main";

* {
  font-family: "Courier Prime", monospace;
  box-sizing: border-box;
  outline: none;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
  }
}

.clear {
  * {
    box-sizing: border-box;
    outline: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
  }
}

.page {
  position: absolute;
  width: 800px;
}

.page-enter-active {
  animation: fade-in 0.25s ease-in-out forwards;
}

.page-exit-active {
  animation: fade-out 0.25s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate3d(0px, -25px, 0);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
